/* Catalogo.css */

.catalogo-container {
    max-width: 450px;
    margin: 40px auto; /* Lo separamos un poco de arriba */
    padding: 0 16px;
}

.catalogo-title {
    color: rgba(248, 243, 243, 0.677);
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.md3-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgba(150, 36, 154, 0.239); /* Gris oscuro de la tarjeta */
    border-radius: 24px; /* Bordes muy redondeados estilo M3 */
    overflow: hidden;
    box-shadow: 0 2px 4px  rgba(130, 129, 130, 0.895); /* Gris oscuro de la tarjeta */
}

.md3-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    border-bottom: 1px solid rgba(150, 36, 154, 0.239); /* Gris oscuro de la tarjeta */
    transition: background-color 0.2s ease;
}

/* Efecto al pasar el ratón (Hover) */
.md3-list-item:hover {
    background-color: rgb(225, 222, 242); 
    cursor: pointer;
}

.md3-list-item:last-child {
    border-bottom: none;
}

.md3-item-name {
    color: rgba(255, 255, 255, 0.608);
    font-size: 16px;
    text-transform: capitalize;
}

.md3-item-price {
    color: var(--md-sys-color-primary);
    font-weight: 600;
    font-size: 15px;
}